# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, private keys, etc.
*.tfvars
*.tfvars.json

# Exclude variables local files
.terraform.tfstate.lock.info

# Exclude tfplan and plan files
*tfplan*
tfplan

# Exclude kubeconfig files
*kubeconfig*

# Exclude Python scripts in environments
environments/**/*.py
